<!DOCTYPE html>
<html lang="pt-br">
<head>
    
</head>
<body class="container">

<header>
    
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
    </div>
    <ul>
        <% items.forEach(function(item) { %>
          <li><%= item.name %></li>
        <% }); %>
      </ul>
</main>

<footer>

</footer>

</body>
</html>
<style>
    body{
        background-color: rgb(220, 215, 250);
    }
</style>